*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    color: #000;
}

/* LOGO */
.logo{
    font-family: oswald;
    font-weight: bold;
    padding: 15px;
}

/* Hamburger Menu Button */
.hamburger{
    float: right;
    margin: -55px 20px;
    font-size: 135%;
    cursor: pointer;
}

.hamburger:hover{
    color:#FF2E63 ;
}

/* close Menu Button */
.fa-times{
    float: right;
    margin: -55px 20px;
    font-size: 135%;
    cursor: pointer;
}

.fa-times:hover{
    color:#FF2E63 !important;
}

/* Navigation */
.main-nav .lists-container{
    list-style: none;
    background: #0d0d0d;
    color: #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    top: -100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.main-nav .lists-container .lists{
    padding-left: 18px;
    line-height: 2.5;
}

.main-nav .lists-container .lists:hover{
    width: 100%;
    background:#FF2E63  ;
}
.active{
    width: 100%;
    background:#FF2E63  ;
}

/* Hero Section */
.hero-section h1{
    font-weight: bold;
    padding: 15px;
    margin-top:50px ;
    font-size: 250%;
}

.hero-section h1 span{
    color:#FF2E63 ;
}

.hero-section h6{
    padding: 15px;
    font-weight: 550;
    font-size: 120%;
}

.hero-section h6 span{
    color:#FF2E63 ;
}

/* companies imgs */
.trusted-companies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.trusted-companies img{
    width: 100px;
    margin: 0 -15px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.trusted-companies img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

/* hero-btns */
.hero-btns{
    padding: 0;
}

.btn{
    border-color: #FF2E63;
    margin: 0 10px;
    font-size: 90%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition-property: transform;
}

.btn:hover{
    background-color:#FF2E63 ;
    color: #fff;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    border: transparent;
}

/* hero-stock-img */

.stock-image{
    overflow: auto;
}

.stock-image img{
    float: right;
    width: 350px;
    height: 450px;
    border-radius: 35%;
    -webkit-border-radius: 35%;
    -moz-border-radius: 35%;
    -ms-border-radius: 35%;
    -o-border-radius: 35%;
    padding-right: 15px;
    margin-top: 100px;
}

.experience-container{
    height: 850px;
    position: relative;
}
.experience{
    left: 40%;
    display: grid;
    float: right;
    position: absolute;
    transform:translateX(-60%) ;
    -webkit-transform:translateX(-60%) ;
    -moz-transform:translateX(-60%) ;
    -ms-transform:translateX(-60%) ;
    -o-transform:translateX(-60%) ;
    margin-top: 230px;
}

.experience h1{
    font-size: 1000%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space: nowrap;
    color: #E6EDF3;
}

.experience h2{
    position: relative;
    left: 100px;
    bottom: 130px;
    font-size: 500%;
    font-weight: bolder;
    transform: rotate(-90deg);
    white-space: nowrap;
    height: 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.end-p-hero{
    padding: 15px;
    font-size: 70%;
}

/* services */
.services{
    margin-top: 50px;
    padding: 15px;
}

.services h3{
    font-size: 150%;
}


.serives-lists-container{
    margin-top: 30px;
}

.serives-lists-container .services-lists:nth-child(2){
    margin: 0 0 0 30px;
}

.serives-lists-container .services-lists:nth-child(3){
    margin: 0 0 0 60px;
}

.serives-lists-container .services-lists h3{
    margin:20px 0 ;
    font-weight: 500;
}

.serives-lists-container .services-lists p{
    font-size: 90%;
    font-weight: 500;
    color: #73798E;
    width:300px;
}

.serives-lists-container .services-lists svg{
   background-color: #9719FF1A;
   padding: 10px;
   width: 75px;
   height: 75px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
}

/* Latest Projects */


.projects h1{
    font-weight: bold;
    margin: 0 10px;
    float: right;
    font-size: 200%;
}

.projects span{
    color: #E6EDF3;
    font-size: 350%;
    float: right;
    margin-left: 500px;
}


.content-container .content img{
    width: 75vw;
}

.content{
    flex-wrap: wrap;
    display: flex;
    width:50%;
    padding-left: 50px;
}

.content-container .content h6{
    font-size: 80%;
    margin-top: 10px;
}

.content-container .content p{
    color:#73798E ;
}


/* Number Results */
.number-results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 50px;
}

.results h2{
    font-size: 200%;
}

.results p{
    font-weight: 200;
    color:#73798E ;
    font-size: 80%;
}

/* promise */

.promise{
    margin-top: 10px;
}

.promise-img{
    text-align: center;
}

.promise img{
    width: 90%;
}
.promise-copy{
    padding: 25px;
}

.promise-copy h1{
    font-weight: bold;
}

.promise-copy p{
    font-size: 70%;
    color: #73798E;
}

.promise-btn{
    padding: 15px;
    margin: -25px 0;
}


/* Testimonial */
.testimonial-section{
    text-align: center;
    margin-top: 100px;
}

.testimonial-section h1{
    font-weight: bold;
    font-size: 200%;
}

.testimonial-section h1:nth-child(2){
    font-weight: bold;
    font-size: 330%;
    color: #E6EDF3;
    margin-left: 200px;
}

.testimonials-container{
    display: flex;
    margin-top: 50px;
}

.testimonials img{
    width: 60px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

.testimonials p{
    margin: 20px 0;
    color:#73798E ;
    font-size: 60%;
    margin: 20px;
}

.occupation{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

/* email inquiry */
.email-inquiry{
    text-align: center;
    margin-top: 50px;
}

.email-inquiry h2{
    font-weight: bold;
}

#form input{
    width: 90%;
    padding: 5px;
    font-size: 75%;
    height: 40px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#form button{
    width: 90%;
    margin-top: 10px;
    background-color: #FF2E63 ;
    color: #FFF;
}

#form button:hover{
    background-color: transparent;
    color: #000;
    border: 1px solid #FF2E63 ;
}

/* footer */

footer{
    margin: 75px 0;
}

.footer-layout{
    padding: 15px;
}

.footer-layout .about-footer h4{
    font-weight:400;
    letter-spacing: 8px;
    font-size: 90%;
}

.footer-layout .about-footer p{
    font-size: 70%;
    color: #73798E ;
    margin: 30px 0;
}

.footer-layout .contact-footer h4{
    font-weight:400;
    letter-spacing: 8px;
    font-size: 90%;
}

.contacts{
    font-size: 70%;
    color: #73798E ;
    margin: 30px 0;
}

.contacts p:nth-child(2){
    margin: -10px 0;
}

/* social medias */
.social-medias{
    margin-top: 40px;
}

.social-medias i{
    font-size: 90%;
    background-color: #0d0d0d;
    color: #fff;
    padding: 10px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.social-medias i:hover{
    background-color:#FF2E63 ;
}

/* copyright */
.copyright{
    padding: 15px ;
    margin: 40px 10px;
    border-top:1px solid #000 ;
}

.copyright p{
    color:#73798E ;
    font-size: 80%;;
}

.terms-and-conditions{
    display: flex;
}

.terms-and-conditions p:nth-child(2){
    margin-left: 40px;
}

/* mobile phones */
@media  screen and (max-width:450px) {
    .trusted-companies img{
        width: 75%;
    }
}



/* tablets */
@media  screen and (min-width:750px) {
    .hero-section h1{
        font-size: 400%;
    }
    .hero-section h6{
        font-size: 100%;
    }
    .trusted-companies {
       display: inline-block;
    }
    .trusted-companies img{
        margin-right: 20px;
    }
    .stock-image{
        position: absolute;
        right: 0;
        top: 15%;
    }
    .stock-image img{
        padding: 50px;
        width: 375px;
    }

    .experience-container{
        margin-top: 150px;
    }

    .experience{
        left: 20%;
    }
    .experience h1{
        font-size: 950%;
    }
    .services{
       position: absolute;
       left: 100%;
       top: 50%;
       transform: translate(-100%,3%);
       -webkit-transform: translate(-100%,30%);
       -moz-transform: translate(-100%,30%);
       -ms-transform: translate(-100%,30%);
       -o-transform: translate(-100%,30%);
}
    .services h3{
        font-size: 130%;
    }

    .content-container{
        display: flex;
        flex-wrap:wrap;
        margin: 0 auto;
        width: 750px;
    }


    .content img{
        width: 300px !important;
    }

    .projects span{
        font-size: 800%;
    }

    .number-results{
      grid-template-columns: auto auto auto auto;
    }

    .promise-img{
        text-align: left;
        padding: 15px;
    }

    .promise-img img{
        width: 35%;
    }

    .promise-container{
        position: absolute;
        top: 110%;
        left: 30%;
        transform: translate(15%,40%);
        -webkit-transform: translate(15%,400%);
        -moz-transform: translate(15%,400%);
        -ms-transform: translate(15%,400%);
        -o-transform: translate(15%,400%);
        width: 500px;
}
    .promise-copy h1{
        font-size: 300% !important;
    }

    .testimonial-section h1:nth-child(2){
        font-weight: bold;
        font-size: 900%;
        color: #E6EDF3;
        margin-left: auto;
    }

    .testimonials p{
        font-size: 100%;
    }
    .email-inquiry h2{
        font-size: 350%;
    }

    #form{
        padding-top: 30px;
    }

    #form input{
        width: 50%;
        height: 50px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        padding: 15px;
}
    #form button{
        width: 20%;
        padding: 15px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
.footer-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
    .terms-and-conditions{
        float: right;
        position: relative;
        bottom: 40px;
    }
}

/* desktops */
@media screen and (min-width:1000px) {
    .logo{
        padding: 50px 150px;
    }

    .main-nav .lists-container{
        left: 0;
    }

    .hero-section{
        margin:-50px 0
    }

    .hamburger{
        margin: -100px 150px;
        font-size: 220%;
    }

    .fa-times{
        margin: -100px 150px;
        font-size: 220%;
    }
    
    .hero-section h1{
        font-size: 666%;
    }
    .hero-section h6{
        font-size: 150%;
    }
    .stock-image{
        width: 500px;
        top: 50%;
        left: 30%;
        transform: translate(60%,0%);
        -webkit-transform: translate(60%,0%);
        -moz-transform: translate(60%,0%);
        -ms-transform: translate(60%,0%);
        -o-transform: translate(60%,0%);
}
    .hero-section{
        padding: 50px 150px;
    }
    .trusted-companies img{
        margin-right: 50px;
    }

    .btn{
        margin-top: 50px;
        font-size: 150%;
    }

    .experience h1{
        font-size: 1200%;
    }
    .end-p-hero{
        font-size: 100%;
        color: #73798E;
        width: 500px;
    }
    .services{
        width: 500px;
        left: 50%;
        top: 5%;
        transform: translate(-0%,110%);
        -webkit-transform: translate(-0%,110%);
        -moz-transform: translate(-0%,110%);
        -ms-transform: translate(-0%,110%);
        -o-transform: translate(-0%,110%);
}.services h3{
    font-size: 200%;
}

.experience-container{
    height: 1000px;
}

.projects span{
    margin-left: 1000px;
    font-size: 1100% !important;
}
.content-container{
    width: 800px;
}
 .content img{
    width: 400px !important;
}

.content h6{
    font-size: 150% !important;
}
.content{
    width: 50%;
}

.content:nth-child(1){
   position: relative;
   right: 75px;
}
.number-results{
    grid-template-columns: 100px 100px 100px 100px;
    gap: 100px;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}
.promise{
    height: 700px;
}
.promise-container{
  position: relative;
  top: -153rem;
  left:25rem;
}
.promise-copy h1{
    font-size: 400% !important;
}.promise-img{
    width: 75% !important;margin-left: 150px;
}
.testimonial-section h1{
    font-size: 500%;
}
.testimonials-container{
    margin: 150px 0;
}
.testimonial-section h1:nth-child(2){
    font-size: 1500% !important;
}
.email-inquiry h2{
    font-size: 500%;
}
#form input{
    width: 400px;
}
#form button{
    width: 200px;
    padding: 10px;
}
.footer-layout{
    padding-left: 150px;
}
}


/* large screens */
@media screen and (min-width:1440px){
    header{
        margin: 0 auto;
  max-width: 1440px;
    }
    .hero-section{
        margin: 0 auto;
        max-width: 1440px;
    }
    .projects{
        margin: 0 auto;
        max-width: 1440px;
    }
    .promise{
        margin: 0 auto;
        max-width: 1440px;
        padding-top: 150px;
    }
    .promise-container{
        top: -160rem;
        left:30rem;
      }
    .testimonial-section{
        padding-top: 150px;
        margin: 0 auto;
        max-width: 1440px;
    }
    footer{
        margin: 0 auto;
        max-width: 1440px;
    }
}